html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
body{
  background-color: pink;
}
h1{
  text-align: center;
  font-size: 3em;
  font-style: oblique;
}
header, footer{
  background-color: black;
  text-align: center;
  color: White;
  padding: 3em 0 3em 0;
}
footer p{
  display: inline-block;
  vertical-align: top;
}
footer{
  padding-top: 1em;
  padding-bottom: 11em;
}
#address{
  float: left;
}
#hours{
  float: right;
}
a:link{
  color: white;
}
a:visited {
    color: white;
}
