html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
header {
  background-color: black;
  color: White;
  text-align: center;
  padding: 3em 0 3em 0;
}
a:link{
  color: white;
}
a:visited {
    color: white;
}
table {
  border-spacing: 15px;
}
th {
  text-align: left;
  padding-top: 15px;
  font-size: 20px;
}
td {
  text-align: left;
  /* padding: 5px auto auto 15px; */
  padding-top: 5px;
  padding-right: 10px;
  white-space: pre;
  font: Times;
}
